In [3]:
%load_ext rpy2.ipython

/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:14: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as PandasIndex
/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:34: UserWarning: pandas >= 1.0 is not supported.
  warnings.warn('pandas >= 1.0 is not supported.')

In [0]:
%%R
library("ggplot2")
library("dplyr")

Давайте потренируемся обращаться к данным. Вы можете использовать базовый синтаксис, функции из пакета dplyr или data.table.

Поработаем с данными diamonds из пакета ggplot2.

В переменную d сохраните только нeчетные строчки исходных данных diamonds.

Обратите внимание на функцию seq(). Она может вам пригодиться вам не только в этой задаче.

In [6]:
%%R 
slice(diamonds, seq(1, nrow(diamonds), 2))

# A tibble: 26,970 x 10
   carat cut       color clarity depth table price     x     y     z
   <dbl> <ord>     <ord> <ord>   <dbl> <dbl> <int> <dbl> <dbl> <dbl>
 1  0.23 Ideal     E     SI2      61.5    55   326  3.95  3.98  2.43
 2  0.23 Good      E     VS1      56.9    65   327  4.05  4.07  2.31
 3  0.31 Good      J     SI2      63.3    58   335  4.34  4.35  2.75
 4  0.24 Very Good I     VVS1     62.3    57   336  3.95  3.98  2.47
 5  0.22 Fair      E     VS2      65.1    61   337  3.87  3.78  2.49
 6  0.3  Good      J     SI1      64      55   339  4.25  4.28  2.73
 7  0.22 Premium   F     SI1      60.4    61   342  3.88  3.84  2.33
 8  0.2  Premium   E     SI2      60.2    62   345  3.79  3.75  2.27
 9  0.3  Ideal     I     SI2      62      54   348  4.31  4.34  2.68
10  0.3  Good      J     SI1      63.8    56   351  4.23  4.26  2.71
# … with 26,960 more rows

Потренируемся использовать изученные функции. Из данных mtcars отберите только четыре переменные: mpg, hp, am, vs. Оставьте только те наблюдения, для которых значения mpg > 14 и hp > 100. Отсортируйте получившиеся данные по убыванию переменной mpg и возьмите только первые 10 строчек. Переменную mpg переименуйте в Miles per gallon, а переменную hp в  Gross horsepower (обратите внимание, dplyr позволит нам создать пременные с пробелами в названии). Получившийся dataframe сохраните в переменную my_df.

Первые три строчки нужного dataframe:
```
> head(my_df)
  
      Miles per gallon am vs Gross horsepower
1             30.4  1  1              113
2             21.4  0  1              110
3             21.4  1  1              109
4             21.0  1  0              110
5             21.0  1  0              110
6             19.7  1  0              175
 ```
Вы также можете потренироваться использовать оператор %>%, дополнив следующий код:
```
my_df <- mtcars %>% 
  select() %>% 
  filter() %>% 
  arrange() %>% 
  slice() %>% 
  rename()
  ```

In [8]:
%%R
# data(mtcars)
mtcars %>% 
  select(mpg, am, vs, hp) %>% 
  filter(mpg > 14,  hp > 100) %>%
  arrange(desc(mpg)) %>% 
  slice(1:10) %>% 
  rename("Miles per gallon" = mpg,
         "Gross horsepower" = hp)

   Miles per gallon am vs Gross horsepower
1              30.4  1  1              113
2              21.4  0  1              110
3              21.4  1  1              109
4              21.0  1  0              110
5              21.0  1  0              110
6              19.7  1  0              175
7              19.2  0  1              123
8              19.2  0  0              175
9              18.7  0  0              175
10             18.1  0  1              105